@media only screen and (max-width: 1700px) {
    .fs-container {
        margin-left: 150px;
        margin-right: 150px;
    }

    .fs-pl-container {
        padding-left: 150px !important;
    }

    .footer-content {
        padding-right: 200px !important;
        padding-left: 200px !important;
    }

    .product {
        height: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .about-us-left h2,
  .about-us-left p {
        padding-right: 100px;
        padding-left: 100px;
    }

    .fs-container-btn {
        margin-top: -90px;
    }
}

@media only screen and (max-width: 1440px) {
    .fs-container {
        margin-left: 50px;
        margin-right: 50px;
    }

    .fs-pl-container {
        padding-left: 100px !important;
    }

    .footer-content {
        padding-right: 100px !important;
        padding-left: 100px !important;
    }

    .about-us-left h2,
  .about-us-left p {
        padding-right: 100px;
        padding-left: 0;
    }

    .gall {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media only screen and (max-width: 1300px) {
    .fs-gall-cat-big-w {
        width: 500px !important;
    }

    .fs-gall-cat-middle {
        width: 425px !important;
    }

    .fs-gall-cat-small-w {
        width: 350px !important;
    }

    .about-us-left h2 {
        font-size: 56px;
    }

    .about-us-left p:last-child {
        display: none;
    }

    .categories a {
        padding: 14px 5px !important;
    }

    .fs-social-btn {
        margin-left: 11px;
        margin-bottom: -400px;
    }
}
